# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: linux-64
_libgcc_mutex=0.1=main
_tflow_select=2.1.0=gpu
absl-py=0.9.0=py38_0
appdirs=1.4.4=pypi_0
astroid=2.4.2=py38_0
astunparse=1.6.3=py_0
attrs=20.2.0=pypi_0
autograd=1.3=pypi_0
blas=1.0=mkl
blinker=1.4=py38_0
brotlipy=0.7.0=py38h7b6447c_1000
c-ares=1.15.0=h7b6447c_1001
ca-certificates=2021.1.19=h06a4308_0
cachetools=4.1.0=py_1
certifi=2020.12.5=py38h06a4308_0
cffi=1.14.0=py38he30daa8_1
chardet=3.0.4=py38_1003
cirq=0.9.1=pypi_0
click=7.1.2=py_0
cryptography=2.9.2=py38h1ba5d50_0
cudatoolkit=10.1.243=h6bb024c_0
cudnn=7.6.5=cuda10.1_0
cupti=10.1.168=0
cycler=0.10.0=pypi_0
cython=0.29.21=pypi_0
decorator=4.4.2=pypi_0
dill=0.3.2=pypi_0
dlx=1.0.4=pypi_0
docplex=2.15.194=pypi_0
fastdtw=0.3.4=pypi_0
fastjsonschema=2.14.5=pypi_0
freezegun=0.3.15=pypi_0
future=0.18.2=pypi_0
gast=0.3.3=py_0
google-api-core=1.24.1=pypi_0
google-auth=1.24.0=pypi_0
google-auth-oauthlib=0.4.1=py_2
google-pasta=0.2.0=py_0
googleapis-common-protos=1.52.0=pypi_0
grpcio=1.34.0=pypi_0
h5py=2.10.0=py38hd6299e0_1
hdf5=1.10.6=hb1b8bf9_0
idna=2.10=py_0
inflection=0.5.1=pypi_0
intel-openmp=2020.1=217
isort=5.6.4=py_0
jsonschema=3.2.0=pypi_0
keras-preprocessing=1.1.2=pypi_0
kiwisolver=1.3.1=pypi_0
lazy-object-proxy=1.4.3=py38h27cfd23_2
ld_impl_linux-64=2.33.1=h53a641e_7
libedit=3.1.20191231=h14c3975_1
libffi=3.3=he6710b0_2
libgcc-ng=9.1.0=hdf63c60_0
libgfortran-ng=7.3.0=hdf63c60_0
libprotobuf=3.12.3=hd408876_0
libstdcxx-ng=9.1.0=hdf63c60_0
markdown=3.1.1=py38_0
matplotlib=3.3.3=pypi_0
mccabe=0.6.1=py38_1
mkl=2020.1=217
mkl-service=2.3.0=py38he904b0f_0
mkl_fft=1.1.0=py38h23d657b_0
mkl_random=1.1.1=py38h0573a6f_0
more-itertools=8.5.0=pypi_0
mpmath=1.1.0=pypi_0
multitasking=0.0.9=pypi_0
ncurses=6.2=he6710b0_1
nest-asyncio=1.4.0=pypi_0
networkx=2.4=pypi_0
ntlm-auth=1.5.0=pypi_0
numpy=1.18.5=pypi_0
oauthlib=3.1.0=py_0
openssl=1.1.1i=h27cfd23_0
opt_einsum=3.1.0=py_0
pandas=1.1.2=pypi_0
pennylane=0.14.0=pypi_0
pennylane-qiskit=0.11.0=pypi_0
pillow=8.0.1=pypi_0
pip=20.3.3=pypi_0
ply=3.11=pypi_0
protobuf=3.12.3=py38he6710b0_0
psutil=5.7.2=pypi_0
pyasn1=0.4.8=py_0
pyasn1-modules=0.2.7=py_0
pybind11=2.5.0=pypi_0
pycparser=2.20=py_2
pyjwt=1.7.1=py38_0
pylint=2.6.0=py38_0
pyopenssl=19.1.0=py_1
pyparsing=2.4.7=pypi_0
pyrsistent=0.17.3=pypi_0
pyscf=1.7.2=pypi_0
pysocks=1.7.1=py38_0
python=3.8.5=hcff3b4d_1
python-constraint=1.4.0=pypi_0
python-dateutil=2.8.1=pypi_0
pytz=2020.1=pypi_0
pyyaml=5.3.1=pypi_0
qiskit=0.21.0=pypi_0
qiskit-aer=0.6.1=pypi_0
qiskit-aqua=0.7.5=pypi_0
qiskit-ibmq-provider=0.9.0=pypi_0
qiskit-ignis=0.4.0=pypi_0
qiskit-terra=0.15.2=pypi_0
quandl=3.5.2=pypi_0
qulacs-gpu=0.1.10.1=pypi_0
readline=8.0=h7b6447c_0
requests=2.24.0=py_0
requests-ntlm=1.1.0=pypi_0
requests-oauthlib=1.3.0=py_0
retworkx=0.5.0=pypi_0
rsa=4.0=py_0
scipy=1.5.0=py38h0b6359f_0
semantic-version=2.6.0=pypi_0
setuptools=49.2.0=py38_0
six=1.15.0=py_0
sortedcontainers=2.3.0=pypi_0
sqlite=3.32.3=h62c20be_0
sympy=1.5=pypi_0
tensorboard=2.4.0=pypi_0
tensorboard-plugin-wit=1.6.0=py_0
tensorflow=2.3.1=pypi_0
tensorflow-estimator=2.3.0=pypi_0
tensorflow-gpu=2.2.0=h0d30ee6_0
tensorflow-quantum=0.4.0=pypi_0
termcolor=1.1.0=py38_1
tk=8.6.10=hbc83047_0
toml=0.10.1=py_0
typing-extensions=3.7.4.3=pypi_0
urllib3=1.25.9=py_0
websockets=8.1=pypi_0
werkzeug=1.0.1=py_0
wheel=0.34.2=py38_0
wrapt=1.11.2=py38h7b6447c_0
xz=5.2.5=h7b6447c_0
yfinance=0.1.54=pypi_0
zlib=1.2.11=h7b6447c_3
